<div class="articles-container">
  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/create-article">Créer un article</button>
    <button mat-button [matMenuTriggerFor]="sortMenu">
      Trier par
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="sortArticles('createdAt')">Date</button>
      <button mat-menu-item (click)="sortArticles('title')">Titre</button>
      <button mat-menu-item (click)="sortArticles('author')">Auteur</button>
    </mat-menu>
  </div>
  
  <div class="articles-grid" *ngIf="articles$ | async as articles" [ngClass]="{'single-column': isHandset}">
    <app-article *ngFor="let article of articles; let i = index"
                 [article]="article"
                 class="article-item"
                 [ngClass]="{
                   'left-column': !isHandset && i % 2 === 0,
                   'right-column': !isHandset && i % 2 !== 0
                 }">
    </app-article>
  </div>
</div>